# IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/jarRepositories.xml
.idea/dataSources*.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries/
.idea/misc.xml
.idea

# IDEA生成临时文件
*.iml
*.iws
*.ipr

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
bin/